/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* @import url('./vite-promo.css'); */
@import url('./header.css');

:root {
  --body-text:#555;
  --title-color:#303030;
  --accent-color:#FF6C00;
}


/* body {
  font-family: 'Raleway', sans-serif;
} */

  /* color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
